
  <div class="container">
    <form [formGroup]='myform' (ngSubmit)="SubmitDetails()">
      <ul class="list">
        <li><h2>Member Login</h2></li>
        <li><input type="text" id="Email"name="Email" placeholder="Enter Email" formControlName="Email" /></li>
        <li><input type="password" id="Password" name="password" placeholder="**********" formControlName="Password"/></li>
        <li><input type="submit" name="Login" value="LogIn" routerlink='/NewsInput' /></li>
        <li><input type="button" name="Register" value="Register" routerlink="/Register" /></li>
      </ul>
    </form>
  </div>
  