*{margin:0; padding:0}
body {
  
  padding-top:20vh;
}


.container {
  width: 250px;
  height: auto;
  padding: 70px 90px;
  background-color: #FFFF00;
  border-radius: 10px;
  margin:auto;
  box-shadow:0 0 10px 0 #000;
  position:relative;
  top:50px;
}

ul.list{
  list-style-type:none;
  text-align:center;

}

ul.list li{
width:250px;
margin-bottom:20px;
}
ul.list li input{
  width:100%;
  text-align:center;
  padding:7px;
  border:none;
  border-radius:8px;

}
  ul.list li input[type="button"] {
    background-color: #000;
    color: ghostwhite;
    margin: auto;
    width: 50%;
  }

  ul.list li:nth-child(5){
    color:red;
  }
