<div class="container">
 
<div class="row">
  <input class="form-control form-control-lg" type="text" placeholder="Enter the news">
  <input class="form-control form-control-lg" type="Url" placeholder="Enter the Url">
 <div class="image-upload" id="image1">
    <label for="file-input">
        <img src="https://goo.gl/pB9rpQ"/>
    </label>
    
  <input class="Imagefile" type="file" id="img" name="Image" accept="image/*">
  </div>
  <input class="Imagefile" type="file" id="aud" name="Audio" accept="audio/*">
  <button class="button">Check</button>
</div>
</div>