<h1>News Analysis</h1>

<div>
  <form action="/action_page.php">
    
    <input type="text" id="text" name="news" placeholder="Some text..">

    <br>

    <input type="url" id="url text" name="link" placeholder="Some Url..">

    <br>
    
    <p><strong>Upload Image</strong></p>
    <input type="file" id="img" name="img" accept="image/*">
    
    <br>

    <p><strong>Upload Audio</strong></p>

    <input type="file" id="audio" name="audio" accept="audio/*">

    <br>

    

    <input type="submit" value="Submit">

  </form>
</div>